*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    height: 70px;
    overflow: hidden;
    width: 55%;
    margin: 0 auto;

}
.header img{
    height: 70px;
    float: left;
    margin: 0;
}
.nav{
    float: right;
}
.nav a{
    display: block;
    float: left;
    text-decoration: none;
    font-family: Loma;
    font-size: 14px;
    width: 75px;
    padding: 23px 8px 0px 0px;
    color: #414042;
    margin-right: 25px;
    padding-left: 22px;
}
.nav a:last-child{
    margin-right: 0px;
}
.nav a:hover{
    border-bottom: 2px solid #95bc33;
}
#chat{
    background: url(images/chat.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 0px 26px;
}
#call{
    background: url(images/phone.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 0px 24px;
}
#login{
    background: url(images/user.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 0px 24px;
}
.main-card{
    width: auto;
    height: 600px;
    background: linear-gradient(90deg, #ffffff, #fffffffd 30%, #ffffffec 40%, #ffffffb9 50%, #92b6d50e 75%), url(images/bg24.jpg);
    background-size: contain;
    font-family: Loma;
    color: #414042;
}
.main-card ul{
    display: block;
    float: left;
    list-style-type: none;
    margin-left: 200px;
}
.main-card ul li{
    background: url(images/checkbox.png;);
    background-size: 32px;
    background-position: 0px 30px;
}
h1{
    padding: 0;
    margin: 0;
}
